/* Landing Page Styles */
html, body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.hero-section {
  position: relative;
  background: url('./background.jpg') no-repeat center center fixed;
  background-size: cover;
  flex: 1;
  z-index: 1;
  padding: 100px 0;
  overflow: hidden;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 40px;
}

.cta-button {
  background-color: #ff5733;
  color: white;
  margin-top: 110px;
  position: relative;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #63a27d;
  transform: scale(1.05);
}
.hero-image-section .hero-image {
  margin-top: 5px;
  width: 800px; /* Set the desired width */
  height: 300px; /* Set the desired height */
  display: block;
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto;
}

.sign-in-up-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 0px; /* Adjust the right position as needed */
}

.sign-in-up-button {
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.sign-in-up-button:hover {
  background-color: #75a99c;
  transform: scale(1.05);
}

.cta-content {
  opacity: 0; /* Initially hidden */
  height: 0; /* Initially no height */
  overflow: hidden; /* Hide overflowing content */
  transition: opacity 0.5s, height 0.5s; /* Smooth transition for opacity and height */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
}

.cta-content p{
  text-align: left;
  justify-content: left;
  margin-left: 50px;
}

.cta-content.active {
  opacity: 1; /* Visible */
  height: auto; /* Auto height to reveal content */
}